{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptatum dolore eos quibusdam, accusantium
    dolor illo ratione ducimus rem sapiente nostrum animi nihil a, vero aliquam voluptates consectetur et ipsum
    reprehenderit. Dignissimos laborum nesciunt iusto iste, voluptatum tenetur hic magnam quam officiis accusantium.
    Culpa autem soluta consequatur quia dolorem. Odio.</p>
{% endblock %}